 /* Resetting default margin and padding */
 body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s ease-in-out;
  overflow-x: hidden;
}

/* Styling for the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: left;
  z-index: 3; /* Increased z-index to make sure it's above the overlay */
}

/* Styling for the logo */
img.logo {
  max-width: 100px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

/* Styling for the main heading */
h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0 0 0;
  font-size: 2em;
}

/* Styling for the navigation */
nav {
  float: right;
  padding: 30px;
  z-index: 2;
}

/* Styling for navigation links */
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  z-index: 2;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for navigation links on hover, active, or focus */
nav a:hover,
nav a:active,
nav a:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffcc00;
}

/* Styling for the dropdown menu */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Styling for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  padding: 5px;
background-color: black;
}

.dropdown:hover .dropdown-content {
display: block;
}

/* Styling for dropdown links */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Styling for dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #333;
}

/* Styling for the dropdown icon */
.dropdown-icon {
  margin-left: 5px;
}

/* Styling for the overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.image {
  padding-top: 0; 
}

.img-container {
  position: relative;
  height: 200px; 
  overflow: hidden;
  margin-top: 100px;
}

.img-container img {
  filter: blur(5px);
  width: 100%;
  height: auto;
}

.container {
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.country-name {
  padding-top: 30px;
  padding-left: 60px;
  font-family: 'Times New Roman', Times, serif;
}

.country-content {
  padding-left: 60px;
}

.country-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.country-img .img-content {
  width: 20%;
  margin: 10px;
  overflow: hidden;
  position: relative;
  height: auto;
  font-size: medium;
}

.img-content img {
  width: 100%;
  object-fit: cover;
  transform: translateX(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

.img-content:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

.img-content.bigger {
  transform: scale(1.2);
}

  @media only screen and (min-width: 768px) {
    .country-img {
        justify-content: space-between;
    }
  }

  section {
    margin-bottom: 10px; /* Adjust this value as needed */
    padding-bottom: 10px; /* Add padding to prevent overlap */
}

/* Styling for the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
